<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 topic-heading">{{am.topicName}}</div>
        <div class="col-md-6"></div>
        <a ui-sref="topics"><div class="col-md-2 topic-heading">Back</div></a>
        <div class="col-md-1"></div>
    </div>
    <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-8 question-body">
            <label class="sub-heading"><b>Question :</b></label>
            <b class="question-p">{{ am.topicQuestion}}</b>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 topic-heading">Answers</div>
        <div class="col-md-5"></div>
    </div>
    <div class="row" ng-repeat="answer in am.answers">
        <div class="col-md-2"></div>
        <div class="col-md-8 question-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="answer-desc">{{answer.answer}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><label class="sub-heading">Author :</label> {{answer.author}}</div>
                <div class="col-md-6"><label class="sub-heading">Answered Date :</label> {{answer.answeredDate}}</div>
            </div>
            <div class="row">
                <div class="col-md-8" ></div>
                <div class="col-md-4" >
                    <label  class="sub-heading"><b>Rating :</b></label> {{answer.rate}}<br>
                    <input-stars ng-click="am.updateAnsRating(answer._id,answer.rate)" max="5" ng-model="answer.rate"></input-stars>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
