
<div class="container ">
    <div class="row" >

        <div class="col-md-4 subject-body key-people-hover" ng-repeat="topics in vm.topics">
            <a ui-sref="question({id: topics._id,name:topics.topicName })" style="text-decoration: none;">
                <div class="row subject-heading" >{{topics.topicName}}</div>
                <div class="row image-div {{topics.topicName}}" id="img-id">
                </div>
                <div class="row subject-footer" >
                    total Questions :<label ng-bind="vm.getTotalQuestion(topics._id);"> </label>
                </div>
            </a>
        </div>
    </div>
</div>
